<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Page</title>
    <style>
        div {
            text-align: center;
        }
    </style>
</head>

<body>
    <div class="container">
        {% include 'navbar.html' %}
        <h1> This is offical About Page</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae necessitatibus atque ex fugit explicaboad
            amet, reiciendis, magnam velit rem eius architecto debitis! Obcaecati ratione harum eius eveniet ab
            velit!</p>
        <button><strong>Contact US</strong></button>
    </div>

</body>

</html>