<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        div {
            text-align: center;
        }
    </style>
</head>

<body>
    <div>
        {% include 'navbar.html' %}
        <h1>This is official services Page</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, molestias doloribus error qui ipsa facilis
            placeat consectetur perferendis non. Rem numquam quam, sunt corrupti sit illum eligendi quo similique in.
        </p>
    </div>
</body>

</html>